.DS_Store
.build
*.eks

target/

src/**/out
src/**/public

src/as/*/build
src/as/*/node_modules
src/as/*/.wireit

.idea
*.iml
.zed

# Production
/extensions/
/metadata-lock.toml
/index.min.json
/index.json
